@import '../general.scss';

.hero {
    height: auto;
    min-height: 100vh;

    &::before {
        background-color: rgba($color: $black, $alpha: 0.7);
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    width: 100%;

    .form-errors {
        display: none;
        border: none;
        padding: 1rem;
        background-color: rgba($color: $red, $alpha: 1);
        width: 100%;

        p,
        span {
            text-align: center;
            font-size: 1.125rem;
            color: $white;
        }

        span {
            font-style: italic;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background: none;

        @media only screen and (min-width: $sm-breakpoint) {
            flex-wrap: wrap;
            flex-direction: row;
        }

        .field-block-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;

            @media only screen and (min-width: $sm-breakpoint) {
                width: calc((100% - 1 * 2rem) / 2);
            }

            .field-block {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                gap: 0.25rem;

                label,
                input,
                textarea {
                    font-family: $roboto-sans;
                    color: $white;
                    letter-spacing: .063rem;
                }

                input,
                textarea {
                    border: none;
                    padding: .625rem;
                    background-color: rgba($color: $gray, $alpha: 0.3);
                    backdrop-filter: blur(0.625rem);
                    font-size: 1rem;

                    &::placeholder {
                        font-size: .875rem;
                        text-transform: capitalize;
                        font-style: italic;
                        font-weight: 500;
                        color: rgba($color: $white, $alpha: 0.5);
                    }

                    &:focus-visible {
                        background-color: rgba($color: $gray, $alpha: 1);
                    }

                    &:user-invalid {
                        border: .125rem solid $red;
                    }

                    &:autofill:is(:user-invalid) {
                        border: .125rem solid $red;
                    }

                    &:user-valid {
                        border: .125rem solid $green;
                    }

                    &:autofill:is(:user-valid) {
                        border: .125rem solid $green;
                    }

                    &.form-error {
                        border: .125rem solid $red !important;
                    }
                }

                label {
                    font-family: $roboto-serif;
                    font-size: 1.125rem;
                    font-weight: 600;
                    letter-spacing: 0.125rem;
                    text-transform: capitalize;
                    line-height: 1;

                    @media (min-width: $md-breakpoint) {
                        font-size: 1.25rem;
                    }

                    span {
                        font-size: 0.750rem;
                        font-family: $roboto-sans;
                        font-weight: 400;
                        color: $white;
                        text-transform: lowercase;
                    }
                }

                textarea {
                    resize: none;
                    height: 10rem;
                    flex-grow: 1;

                    @media (min-width: $sm-breakpoint) {
                        height: auto;
                    }
                }
            }
        }

        .btn {
            margin-left: auto;
        }
    }
}