@use './variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  &.overlay-nav-open {
    overflow: hidden;
  }

}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: $roboto-sans, $open-sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}