@forward './variables';
@use 'sass:color';
@use './variables' as *;
@use './default';
@use './components/navbar';
@use './components/nav-overlay';
@use './components/hero';
@use './components/footer';

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1.1;
	letter-spacing: .125rem;
	font-family: $roboto-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-wrap: balance;
}

h1 {
	font-size: 3.125rem;
}

h2 {
	font-size: 2.5rem;
	margin-bottom: 1.25rem;
}

h3 {
	font-size: 1.875rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.188rem;
}

h6 {
	font-size: 1.125rem;
}

p,
span,
a,
ul,
li,
label,
legend,
button {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	color: $black;
	line-height: 1.5;

	@media only screen and (min-width: $md-breakpoint) {
		font-size: 1.125rem;
	}
}

p {
	text-wrap: pretty;

	&:has(+ p) {
		margin-bottom: 1.25rem;
	}
}

a {
	text-decoration: none;
	transition: color $transition;

	&:hover {
		color: $red;
	}
}

button {
	display: block;
	cursor: pointer;
	border: none;
}

.btn {
	display: flex;
	align-items: center;
	width: fit-content;
	gap: .438rem;
	padding: .938rem 1.875rem;
	border: none;
	border-radius: 1.875rem;
	background: $white;
	background: linear-gradient(to bottom, $red 0, color.adjust($red, $lightness: 5%) 100%);
	box-shadow: 0 .313rem .625rem rgba(0, 0, 0, 0.2);
	font-family: $roboto-serif;
	color: $white;
	text-transform: uppercase;
	transition: box-shadow ease-in-out 0.3s;
	line-height: 1;

	&:hover {
		color: $white;
		box-shadow: 0 .313rem .625rem rgba(0, 0, 0, 0.3);

		span {
			transform: translateX(.313rem);
		}
	}

	span {
		display: flex;
		align-items: center;
		transition: transform $transition;

		svg {
			height: 1.25rem;

			path {
				stroke: $white;
			}
		}
	}
}

img {
	display: block;
}

section {
	padding-block: 3.125rem;

	@media only screen and (min-width: $sm-breakpoint) {
		padding-block: 6.25rem;
	}
}

.default-container {
	max-width: 82.5rem;
	margin: 0 auto;
	padding-inline: .938rem;
}

.left,
.right {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;

	@media only screen and (min-width: $md-breakpoint) {
		width: 50%;
	}
}

.flex-column-to-row {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;

	@media only screen and (min-width: $md-breakpoint) {
		flex-direction: row;
		gap: 1.25rem;
	}
}

.hidden {
	visibility: hidden;
}

.visually-hidden {
	@extend %hide-element;
}

.current-page {
	text-decoration: underline;
	color: $red;
}

.brand {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: .625rem;
	font-family: $roboto-serif;
	text-transform: capitalize;
	line-height: 1;
	font-size: 1.25rem;

	@media only screen and (min-width: $sm-breakpoint) {
		font-size: 1.625rem;
	}

	img {
		display: block;
		height: 2.5rem;
		width: 2.5rem;

		@media only screen and (min-width: $md-breakpoint) {
			height: 3.75rem;
			width: 3.75rem;
		}
	}
}

.social-links {
	display: flex;
	justify-content: flex-start;
	gap: 1.125rem;

	a {
		display: block;
		height: 3rem;
		width: 3rem;

		svg {
			path {
				transition: fill $transition;
			}
		}

		&:hover {
			svg {
				path {
					fill: $red;
				}
			}
		}
	}
}

.scroll-to-top {
	position: fixed;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	z-index: 4;
	bottom: 2rem;
	right: 2rem;
	background-color: $red;
}