// fonts
$open-sans: "Open Sans", sans-serif;
$times-new-roman: "Times New Roman", serif;
$roboto-sans: "Roboto", sans-serif;
$roboto-serif: "Roboto Serif", serif;

// default colors
$black: #000;
$alt-black: #191716;
$white: #fff;
$gray: #474747;
$alt-gray: #bebebe;
$red: #9d061a;
$green: #008000;

// breakpoints
$sm-breakpoint: 36rem;
$md-breakpoint: 48rem;
$lg-breakpoint: 62rem;
$xl-breakpoint: 75rem;
$xxl-breakpoint: 87.5rem;
  
// transitions
$transition: 0.3s ease;

// mixin
@mixin hide-element {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

%hide-element {
  @include hide-element;
}

@mixin gradientText($color) {
  background: linear-gradient(to right,
      $color 20%,
      lighten($color, 10%) 30%,
      lighten($color, 15%) 45%,
      lighten($color, 10%) 60%,
      $color 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: 3s ease-in-out infinite alternate textShine;
}

// animations
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0)
  }

  40% {
    transform: translateY(-1.875rem)
  }

  60% {
    transform: translateY(-.938rem)
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

// used in rotate animation
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}