@use '../variables' as *;

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: $white;
    padding-block: .938rem;
    filter: drop-shadow(0 -1rem 1rem $black);

    @media (width >=$md-breakpoint) {
        padding-block: 1.25rem;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        gap: 1.25rem;
        list-style-type: none;

        a {
            font-size: 1.25rem;
            line-height: 1;
        }

        @media (width <=$md-breakpoint) {
            @include hide-element;
        }
    }

    .hamburger {
        height: 2.5rem;
        width: 2.5rem;
        position: relative;
        padding: 0;
        margin: 0 0 0 auto;
        border: none;
        background: none;

        @media (width > $md-breakpoint) {
            @include hide-element;
        }

        span {
            display: block;
            position: absolute;
            left: 0;
            height: 0.125rem;
            width: 100%;
            background-color: $red;
            transition: transform $transition, opacity $transition;

            // Set vertical position using nth-of-type
            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}) {
                    top: #{.625rem * $i}; // 10px * 1, 10px * 2...
                }
            }
        }

        &.open {
            span:nth-of-type(1) {
                transform: translateY(.625rem) rotate(45deg);
            }

            span:nth-of-type(2) {
                opacity: 0;
                transition-delay: -1s;
            }

            span:nth-of-type(3) {
                transform: translateY(-.625rem) rotate(-45deg);
            }
        }
    }
}