@import '../general.scss';

.services {
    background-color: $white;

    .services-wrapper {
        display: flex;
        flex-direction: column;
        gap: 3.75rem;

        .services-title {
            h2 {
                text-align: center;
            }
        }

        .services-card-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            gap: 2.5rem;

            .service-card {
                display: flex;
                flex-direction: column;
                min-height: 16.25rem;
                width: 100%;
                gap: 1.25rem;
                padding: 2.5rem;
                border-radius: 1.875rem;
                background: $white;
                box-shadow: .938rem .938rem 1.875rem $alt-gray,
                    -.938rem -.938rem 1.875rem $white;

                // the math here:
                // we want two cards per row at this breakpoint
                // gap === 40px/2.5rem
                // we subtract how many gaps there are per row from the width of the card and multiply by the gap value
                // in this case 100% - 40px/2.5rem
                // we then divide by the amount of cards per row
                @media only screen and (min-width: $sm-breakpoint) {
                    width: calc((100% - 1 * 2.5rem) / 2);
                    padding: 1.25rem;
                }

                // here we want to have three cards per row
                // we will change the amount of gaps to 2
                // and divide by 3
                @media only screen and (min-width: 820px) {
                    width: calc((100% - 2 * 2.5rem) / 3);
                }

                @media only screen and (min-width: $lg-breakpoint) {
                    padding: 2.5rem;
                }

                header {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    h3 {
                        font-size: 1.5rem;
                        @include gradientText($red);
                    }

                    img {
                        width: 3.125rem;
                    }
                }

                .service-card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 2.5rem;
                    height: 100%;

                    p {
                        line-height: 1.2;
                    }

                    a {
                        align-self: flex-start;
                        font-size: .875rem;
                        text-transform: uppercase;
                        font-weight: 900;

                        @media only screen and (min-width: $sm-breakpoint) {
                            align-self: flex-end;
                        }
                    }
                }
            }
        }
    }
}

.who {
    background: $alt-black;
    background: -webkit-linear-gradient(135deg, $black 0%, $alt-black 100%);
    background: linear-gradient(135deg, $black 0%, $alt-black 100%);

    .left {
        flex-direction: column;
        gap: 4rem;

        h2,
        p {
            color: $white;
        }
    }

    .right {
        img {
            display: block;
            height: 100%;
            width: 100%;
            max-width: 25rem;
            max-height: 25rem;
            border: .188rem solid #0000;
            border-radius: .688rem;
            background: linear-gradient($black, $black) padding-box, linear-gradient(var(--angle), $alt-black, $red) border-box;
            animation: 4s rotate linear infinite;
            object-fit: cover;
        }
    }
}